<div class="flex flex-col w-full mb-12 text-left lg:text-center">
  <h1 class="mb-6 text-2xl font-semibold tracking-tighter text-black sm:text-5xl title-font">
    We have a lot of fun!
  </h1>
</div>
<section class="overflow-hidden text-gray-700 body-font">
  <div class="container px-5 py-2 mx-auto lg:pt-12 lg:px-32">
    <div class="flex flex-wrap -m-1 md:-m-2">
      <div class="flex flex-wrap w-1/2">
        <div class="w-full p-1 md:p-2">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
               src="assets/images/undraw_having_fun_iais.png">
        </div>
        <div class="w-full p-1 md:p-2">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
               src="assets/images/undraw_group_selfie_ijc6.png">
        </div>
      </div>
      <div class="flex flex-wrap w-1/2">
        <div class="w-full p-1 md:p-2">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
               src="assets/images/undraw_Party_re_nmwj.png">
        </div>
        <div class="w-full p-1 md:p-2">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
               src="assets/images/undraw_Nature_fun_re_iney.png">
        </div>
      </div>
    </div>
  </div>
</section>
<div class="flex flex-col w-full mb-12 text-left lg:text-center">
  <h1 class="mb-6 text-2xl font-semibold tracking-tighter text-black sm:text-5xl title-font">
    Interesting tasks
  </h1>
</div>
<section class="overflow-hidden text-gray-700 body-font">
  <div class="container px-5 py-2 lg:pt-12 lg:px-32">
    <div class="flex flex-wrap -m-1 md:-m-2">
      <div class="flex flex-wrap w-full">
        <div class="w-1/2 p-1 md:p-2">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
               src="assets/images/undraw_Task_re_wi3v.png">
        </div>
        <div class="w-1/2 p-1 md:p-2">
          <img alt="gallery" class="block object-cover object-center w-full h-full rounded-lg"
               src="assets/images/undraw_new_ideas_jdea.png">
        </div>
      </div>
    </div>
  </div>
</section>
